/* TAG SELECTORS */

body{
    background-color: #EAF6F6;
    font-family: "Alliance1","Alliance1Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

}

hr{
    border-color: grey; 
    border-style: none;  
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
    
}

h1,h2,h3,h4{
    color: #6FBFBF;
}

/* CLASS SELECTORS */

/* ID SELECTORS */